body
{
background-color:#d0e4fe;
text-align:justify;
font-family:"Arial";
font-size:24px;
padding:25px 50px 75px;
}

p.margin
{
margin-top:100px;
margin-bottom:100px;
margin-right:50px;
margin-left:50px;
}

h3
{
color:blueviolet;
text-align:justify;
}

p
{
	font-family:"Times New Roman";
	font-size:20px;
	text-align:justify;
}

.img1
{
width:200px; 
height:200px;
float:right;
margin:50px;
}

.img2
{
width:200px; 
height:200px;
float:left;;
margin:50px;
}
.link
{
	font-family:"Times New Roman";
	font-size:20px;
	text-align:justify;
}
	