
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/css/iulia.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block title %}Pagina mea{% endblock %}
{% block body %}

   <p>WEB : Iulia Albu</p>

        <ul id="navigation">
                <li>Irina</li>
                <li>Roxana</li>
                <li>Alex</li>
                <li>Andrei</li>
                <li>Marius</li>
        </ul>
        
<img src="{{ asset('asset/image/voluntari.jpg') }}" alt="Voluntariat" class="image" />

<h2>De ce sa fii voluntar?</h2>
<p>Pentru a te distra;<p>
<p>Pentru a castiga experienta in vederea obtinerii unui serviciu mai bun;<p>
<p>Pentru a iti mentine 'in uz' cunostinte sau abilitati pe care altfel nu le folosesti;<p>
<p>Pentru a nu pierde vremea acasa;<p>
<p>Pentru a-ti face noi prieteni si cunostinte;<p>
<p>Pentru a fi cu prietenii tai care sunt deja voluntari;<p>
<p>Pentru a invata lucruri noi si a-ti forma deprinderi utile;<p>
<p>Pentru a da inapoi o parte din ceea ce ai primit de la altii;<p>
<p>Pentru a-ti face contacte utile;<p>
<p>Pentru a te simti util;<p>
<p>Pentru a fi parte a unei organizatii prestigioase;<p>
<p>Pentru a face tranzitia spre o noua viata;<p>
<p>Pentru a-ti face datoria de crestin;<p>
<p>Pentru a testa o noua cariera;<p>
<p>Pentru a-i ajuta pe cei mai putin norocosi;<p>
<p>Pentru a realiza ceva;<p>
<p>Pentru a ameliora comunitatea in care traiesti;<p>
<p>Pentru a lucra cu un anumit grup de persoane;<p>
<p>Pentru a-ti asuma o responsabilitate;<p>
<p>Pentru a face parte dintr-o echipa;<p>
<p>Pentru a intalni persoane importante din comunitate ;<p>
<p>Pentru a petrece un timp cu familia ta facand ceva util;<p>
<p>Pentru a intelege problemele comunitatii in care traiesti.<p>
<h2>Ce pot face voluntarii?</h2>
<p> Social

consiliere si informare pe diferite teme;
meditarea unor elevi cu probleme;
campanii pe teme legate de profilul organizatiei (drepturile copilului, prevenire SIDA, etc.);
pregatirea si distribuirea unor pachete pentru beneficiarii organizatiei (de exemplu hrana, imbracaminte).<p>
<p>Ecologic

igienizarea unor parcuri sau zone de joaca pentru copii;
campanii de promovare a reciclarii diferitelor materiale;
ghid in gradina botanica pentru elevii;
ore despre importanta protejarii mediului in scoli.<p>
<p>Civic

strangere de semnaturi pentru diferite initiative;
promovarea principiilor democratice in comunitate;
trimiterea de scrisori in sprijinul unor initiative;
semnalarea oricaror abuzuri sau fraude.<p>
<p>Cultural

ghid in muzeu;
realizarea de publicatii specifice;
campanii de promovare a institutiei si serviciilor in cadrul comunitatii;
ore de dirigentie pe teme legate de specificul institutiei;
secretariat, fotocopiere, indosariere, etc.;
activitate de relatii cu publicul in cadrul receptiei;
organizarea de evenimente.<p>
<p>Sanatate

campanii de promovare a sanatatii (educatie sexuala, alimentatie sanatoasa, prevenirea fumatului sau a utilizarii drogurilor, etc);
ore de dirigentie;
servicii pentru pacientii din spitale;
organizarea de emisiuni radio si concursuri pe teme legate de sanatate.<p>
<p>Administrativ (valabil pentru toate categoriile de mai sus)

tehnoredactarea de materiale, realizarea de publicatii, pagini web;
traduceri;
realizarea revistei presei;
secretariat, fotocopiere, indosariere, etc.;
activitate de relatii cu publicul in cadrul receptiei;
organizarea de evenimente.</p>
<div class="img"></div>


{% endblock %}
