{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/raicabogdan.css" />
{% endblock %}
{% block title %}Titlu{% endblock %}
{% block body %}
   <p>Pagina mea: Raica Bogdan</p>

        <ul id="navigation">
                <li>Luni</li>
                <li>Marti</li>
                <li>Miercuri</li>
                <li>Joi</li>
                <li>Vineri</li>
        </ul>
{% endblock %}
