{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

   <link href="{{ asset('assets/css/cssloredana.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
   <h1>Loredana's Page</h1>


   <p><strong><em>paragraful 1</em></strong></p>
   <p>Vara este anotimpul ce începe cu ziua de 22 iunie - solstițiul de vară și se încheie cu ziua de 23 septembrie - echinocțiul de toamnă în emisfera nordică. În emisfera sudică vara începe cu 21 decembrie și se încheie pe 21 martie. Neoficial, în unele state, vara începe pe 1 mai (în Irlanda), pe 1 iunie în majoritatea statelor și chiar pe 1 iulie în unele state.Vara este anotimpul cu cele mai lungi și cele mai calde zile, unde lungimea zilelor depinde de gradele latitudine. Asfel avem de-a face cu atât de faimoasele nopți albe din St. Petersburg și Scandinavia. Este numită la Polul Nord și anotimpul zilei de la miezul-nopții.</p>
   
   <p><strong><em>paragraful 2</em></strong></p>
   
 
   <p>
   <img class = "imagine" src  ="{{ asset("assets/images/vara.jpg") }}" alt="vara!"  />Vara este, de asemenea anotimpul în care multe legume, fructe dar și alte plante sunt coapte respectiv crescute. În diminețile de vară, la suprafața pământului se formează roua.Sunt multe asociații culturale pentru vară. Articolele din timpul verii implică costume de baie, mingi de plajă, plăci de surf și altele. Hainele de vară care încearcă să diminueze efectele căldurii în creștere sunt tricouri, costume de soare, ochelari de soare, sandale.</p>  
               

                           
                           
   <p>Culori uzuale disponibile prin nume </p>             
   <ul>
   <li>Black</li> <li>White</li> <li>Red</li> <li>Green</li> <li>Blue</li> <li>Yellow</li> <li>Purple</li> <li>Aqua </li>
   </ul> 

<img class="imagine1" src="{{ asset("assets/images/vara1.jpg") }}" alt="vara1!" />  
   <p>Sunt multe asociații culturale pentru vară.Multe licee și facultăți oferă studenților slujbe de vară.De obicei în timpul verii datorită stocului și a cererii prețul petrolului tinde să crească.
Vara multe familii pleacă într-o călătorie ce poate fi de cele mai multe ori la munte sau la mare (de obicei la mare) </p>
            
{% endblock %}