<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir='ltr' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:bold' rel='stylesheet' type='text/css'/>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<script type="text/javascript">(function() { var b=window,e="jstiming",g="tick";(function(){function d(a){this.t={};this.tick=function(a,d,c){c=void 0!=c?c:(new Date).getTime();this.t[a]=[c,d]};this[g]("start",null,a)}var a=new d;b.jstiming={Timer:d,load:a};if(b.performance&&b.performance.timing){var a=b.performance.timing,c=b[e].load,f=a.navigationStart,a=a.responseStart;0<f&&a>=f&&(c[g]("_wtsrt",void 0,f),c[g]("wtsrt_","_wtsrt",a),c[g]("tbsd_","wtsrt_"))}try{a=null,b.chrome&&b.chrome.csi&&(a=Math.floor(b.chrome.csi().pageT),c&&0<f&&(c[g]("_tbnd",void 0,b.chrome.csi().startE),
c[g]("tbnd_","_tbnd",f))),null==a&&b.gtbExternal&&(a=b.gtbExternal.pageT()),null==a&&b.external&&(a=b.external.pageT,c&&0<f&&(c[g]("_tbnd",void 0,b.external.startE),c[g]("tbnd_","_tbnd",f))),a&&(b[e].pt=a)}catch(l){}})();b.tickAboveFold=function(d){var a=0;if(d.offsetParent){do a+=d.offsetTop;while(d=d.offsetParent)}d=a;750>=d&&b[e].load[g]("aft")};var h=!1;function k(){h||(h=!0,b[e].load[g]("firstScrollTime"))}b.addEventListener?b.addEventListener("scroll",k,!1):b.attachEvent("onscroll",k);
 })();</script>
<meta content='true' name='MSSmartTagsPreventParsing'/>
<meta content='blogger' name='generator'/>
<link href='http://kestiizilnice.blogspot.ro/favicon.ico' rel='icon' type='image/x-icon'/>
<link href='http://kestiizilnice.blogspot.com/' rel='canonical'/>
<link rel="alternate" type="application/atom+xml" title="Kestii zilnice - Atom" href="http://kestiizilnice.blogspot.com/feeds/posts/default" />
<link rel="alternate" type="application/rss+xml" title="Kestii zilnice - RSS" href="http://kestiizilnice.blogspot.com/feeds/posts/default?alt=rss" />
<link rel="service.post" type="application/atom+xml" title="Kestii zilnice - Atom" href="http://www.blogger.com/feeds/8296353247421133916/posts/default" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.blogger.com/rsd.g?blogID=8296353247421133916" />
<link rel="me" href="http://www.blogger.com/profile/09806754313034438926" />
<link rel="openid.server" href="http://www.blogger.com/openid-server.g" />

<link rel="openid.delegate" href="http://kestiizilnice.blogspot.com/" />
<!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} })(); </script> <![endif]-->
<title>Kestii zilnice</title>
<link type='text/css' rel='stylesheet' href='//www.blogger.com/static/v1/widgets/1832531788-widget_css_bundle.css' />
<link type="text/css" rel="stylesheet" href="//www.blogger.com/dyn-css/authorization.css?targetBlogID=8296353247421133916&zx=5ac2e154-9505-4ae0-93c1-d66a4338cf8e"/>
<style id='page-skin-1' type='text/css'><!--
/*
-----------------------------------------------
Blogger Template Style
-----------------------------------------------
Name           : Visoko Blogger Template
Converted by   : Kumar
Converters URI : http://www.bloggertheme.net/
-----------------------------------------------
WP.Author Name : NewWpThemes.com
WP.Author URI  : http://newwpthemes.com/
License:  This free Blogger template is licensed under the Creative Commons Attribution 3.0 License, which permits both personal and commercial use.
However, to satisfy the 'attribution' clause of the license, you are required to keep the footer links intact which provides due credit to its authors. For more specific details about the license, you may visit the URL below:
http://creativecommons.org/licenses/by/3.0/
----------------------------------------------- */
/* Use this with templates/template-twocol.html */
body#layout #subscription,body#layout #topsearch,body#layout #footer,body#layout #footer2 {display:none;}*{margin:0;padding:0}#navbar-iframe{display:none}
/* -----------------------------------------------------------------------
Blueprint CSS Framework 0.8
http://blueprintcss.org
* Copyright (c) 2007-Present. See LICENSE for more info.
* See README for instructions on how to use Blueprint.
* For credits and origins, see AUTHORS.
* This is a compressed file. See the sources in the 'src' directory.
----------------------------------------------------------------------- */
/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
/* grid.css */
.container {width:950px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24, div.span-24 {width:950px;margin:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important;}
input.span-1, textarea.span-1 {width:18px!important;}
input.span-2, textarea.span-2 {width:58px!important;}
input.span-3, textarea.span-3 {width:98px!important;}
input.span-4, textarea.span-4 {width:138px!important;}
input.span-5, textarea.span-5 {width:178px!important;}
input.span-6, textarea.span-6 {width:218px!important;}
input.span-7, textarea.span-7 {width:258px!important;}
input.span-8, textarea.span-8 {width:298px!important;}
input.span-9, textarea.span-9 {width:338px!important;}
input.span-10, textarea.span-10 {width:378px!important;}
input.span-11, textarea.span-11 {width:418px!important;}
input.span-12, textarea.span-12 {width:458px!important;}
input.span-13, textarea.span-13 {width:498px!important;}
input.span-14, textarea.span-14 {width:538px!important;}
input.span-15, textarea.span-15 {width:578px!important;}
input.span-16, textarea.span-16 {width:618px!important;}
input.span-17, textarea.span-17 {width:658px!important;}
input.span-18, textarea.span-18 {width:698px!important;}
input.span-19, textarea.span-19 {width:738px!important;}
input.span-20, textarea.span-20 {width:778px!important;}
input.span-21, textarea.span-21 {width:818px!important;}
input.span-22, textarea.span-22 {width:858px!important;}
input.span-23, textarea.span-23 {width:898px!important;}
input.span-24, textarea.span-24 {width:938px!important;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
/* -----------------------------------------------------------------------
Blueprint CSS Framework 0.8
http://blueprintcss.org
* Copyright (c) 2007-Present. See LICENSE for more info.
* See README for instructions on how to use Blueprint.
* For credits and origins, see AUTHORS.
* This is a compressed file. See the sources in the 'src' directory.
----------------------------------------------------------------------- */
/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
img {margin:1.5em 1.5em 1.5em 0; max-width: 100%; /* not working in IE6*/}
a img {border:none; max-width: 100%; /* not working in IE6*/}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
a:link:after, a:visited:after {font-size:90%;}
/* LAYOUT */
body {
background: #242323 url(http://2.bp.blogspot.com/__Ue-P3hoW1M/TMgttHeLmFI/AAAAAAAAA5A/Pf9D3cwhNSI/s1600/background.png) top left repeat-x;
}
#wrapper {
padding:0;
}
#container {
padding-bottom: 30px;
}
#contentwrap {
background: #fff;
}
a {
color: #8e1c4b;
}
a:hover {
color: #a13b65;
}
/* HEADER */
#header {
height: 120px;
padding-top:25px;
}
#header h1 {
margin-bottom: 0px !important;
padding: 8px 0 0 0px;
font-weight: normal;
font-family: Georgia, Times New Roman Times, Serif;
font-weight: bold;
font-size: 48px;
}
#header h1 a, #header h1 a:visited {
color: #424544;
text-decoration: none;
}
#header h2 {
color: #646464;
font-size: 14px;
line-height: 14px;
font-family: Arial;
font-style: italic;
}
/* NAVIGATION MENUS */
#pagemenucontainer {
height: 42px;
margin-top: 14px;
}
#pagemenu {
height: 10px;
}
#pagemenu, #pagemenu ul {
padding: 0;
margin: 0;
list-style: none;
line-height: 1;
}
#pagemenu {
margin-bottom: 1px;
}
#pagemenu ul {
float: left;
list-style: none;
margin: 0px 0px 0px 0px;
padding: 0px;
}
#pagemenu li {
float: left;
list-style: none;
margin: 0px;
padding: 0px;
}
#pagemenu ul li {
list-style: none;
margin: 0px;
padding: 0px;
}
#pagemenu li a, #pagemenu li a:link {
color: #fff;
display: block;
margin: 0px 3px 0px 3px;
padding: 8px 10px;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;text-shadow: 0 1px 0 #424544;
}
#pagemenu li a:hover, #pagemenu li a:active {
background: #8b8c8d;
color: #fff;
display: block;
text-decoration: none;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-webkit-border-radius: 8px;
}
#pagemenu  li.current_page_item a {
background: #8b8c8d;
color: #fff;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-webkit-border-radius: 8px;
}
#pagemenu li:hover, #pagemenu li.sfhover {
position: static;
}
.navcontainer {
height: 40px;
padding-top: 9px;
}
#nav {
height: 32px;
}
#nav, #nav ul {
padding: 0;
margin: 0;
list-style: none;
line-height: 1;
}
#nav {
margin-bottom: 1px;
}
#nav ul {
float: left;
list-style: none;
margin: 0px 0px 0px 0px;
padding: 0px;
}
#nav li {
float: left;
list-style: none;
margin: 0px;
padding: 0px;
}
#nav ul li {
list-style: none;
margin: 0px;
padding: 0px;
}
#nav li a, #nav li a:link {
color: #fff;
display: block;
margin: 0px 6px 0px 0;
padding: 10px 14px;
text-decoration: none;
font-size: 12px;
font-weight: bold;
font-family: Arial, Helvetica, Sans-serif;
text-transform: uppercase;
}
#nav li a:hover, #nav li a:active{
background: #393a3a;
color: #fff;
display: block;
text-decoration: none;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#nav  li.current-cat a {
color:#fff;
background: #393a3a;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#nav li:hover, #nav li.sfhover {
position: static;
}
/* CONTENT */
#slider-holder{width: 610px;height: 320px;overflow: hidden;
margin-bottom:-10px; margin-left:17px; margin-top:-20px;padding: 15px 0 0 0;}
#s3slider { width: 610px; /* important to be same as image width */
height: 320px; /* important to be same as image height */position: relative; /* important */overflow: hidden; /* important */}
#s3sliderContent {width: 610px; /* important to be same as image width or wider */
position: absolute; /* important */top: 0; /* important */margin-left: 0; /* important */}
.s3sliderImage {float: left; /* important */ position: relative; /* important */ display: none; /* important */}
.s3sliderImage span { position: absolute; /* important */ left: 0; font-weight: 700; font-size: 0.834em; color: #ffffff;  padding: 20px 15px 50px 13px;  height: 50px;  width: 610px;  background-color: #4e4d3c;
filter: alpha(opacity=70); /* here you can set the opacity of box with text */
-moz-opacity: 0.7; /* here you can set the opacity of box with text */
-khtml-opacity: 0.7; /* here you can set the opacity of box with text */
opacity: 0.7; /* here you can set the opacity of box with text */
display: none; /* important */bottom: 0;/*
if you put
top: 0; -> the box with text will be shown at the top of the image
if you put
bottom: 0; -> the box with text will be shown at the bottom of the image*/}
.s3sliderImage span a.featured-title:link,
.s3sliderImage span a.featured-title:visited{color: #fff;padding: 0px 0px 2px 0px;font-size: 1.167em;}
.s3sliderImage span a.featured-title:hover{color: #999;}
.s3sliderImage span a:link,
.s3sliderImage span a:visited{color: #888;}
.s3sliderImage span a:hover{color: #555;}
#content {
background-color: #fff;
padding: 15px 5px 15px 15px;
}
pre { overflow: auto;
width: 470px;
}
.post {
padding-bottom: 30px;
}
.post p {
margin-bottom: 10px;
}
.title {
margin: 0 0 8px 0;
padding: 6px 8px;
line-height: 22px;
font-family: Arial, Verdana;
color: #fff;
background: #353636;
}
.title:hover {
background: #a13b65;
}
.title a {
text-decoration: none;
color: #fff;
}
.title a:hover {
text-decoration: none;
color: #fff;
}
.pagetitle {
margin-bottom: 20px;
line-height: 22px;
font-family: Arial, Verdana;
text-decoration: underline;
}
.postdate {
font-size: 13px;
font-family: Georgia, Times New Roman Times, Serif;
font-style: italic;
color: #8a8a8a;
}
.postmeta {
font-size: 11px;
padding: 2px 4px;
font-family: Arial, Verdana;
}
.postdate img, .postmeta img {
border: none;
vertical-align: middle;
margin:2px;
}
.entry {
text-align: justify;
line-height: 20px;
padding-top: 8px;
font-family: Arial, Verdana;
font-size: 14px;
}
.navigation {
padding: 10px 0;
}
blockquote {
overflow: hidden;
padding-left: 9px;
font-style: italic;
color: #666;
border-left: 3px solid #CADAE7;
}
img.wp-smiley {
max-height: 12px;
margin: 0;
padding: 0;
border: none;
}
.aligncenter,
div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.alignleft {
float: left;
}
.alignright {
float: right;
}
/* SIDEBAR(S) */
.sidebaradbox {
margin-top: 5px;
text-align:center;
}
.ad125 {
margin: 10px;
}
.sidebar {
margin: 0 10px 10px 0;
font-size: 13px;
}
.sidebar a {
text-decoration: none;
color: #111;
}
.sidebar a:hover {
text-decoration: underline;
color:#9d315d;
}
#search {
border: 1px solid #ebebeb;
height: 30px;
padding: 0;
background: #d0cfcf;
text-align: right;
}
#search input {
border: 0;
background: none;
color: #5a5959;
}
#s {
width: 212px;
padding: 4px;
margin:3px 0 0 0;
background: none;
}
#topsearch {
margin-top: 12px;
}
#topsearch #s {
width: 184px;
}
.rssbox {
background: #e0e0e0;
border: 1px solid #cecece;
padding: 0px 10px 0px 10px;
margin: 0px 0 0 0;
}
.rssbox:hover {
border-color: #a1a1a1;
}
.rssbox a {
color: #555;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}
.rssbox a:hover {
color: #333;
text-decoration: underline;
}
.twitterbox {
background: #e0e0e0;
border: 1px solid #cecece;
padding: 0px 10px 0px 10px;
margin: 10px 0 0 0;
}
.twitterbox:hover {
border-color: #a1a1a1;
}
.twitterbox a {
color: #555;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}
.twitterbox a:hover {
color: #333;
text-decoration: underline;
}
/* Social icons */
.addthis_toolbox {
padding: 10px 0 0px 0;
text-align: center;
}
.addthis_toolbox .custom_images a
{
width: 32px;
height: 32px;
margin: 0 -8px 0 -8px;
padding: 0;
}
.addthis_toolbox .custom_images a:hover img
{
opacity: 1;
}
.addthis_toolbox .custom_images a img
{
opacity: 0.85;
}
.sidebarvideo {
}
.sidebar h2 {
margin: 10px 0 0 0;
padding: 8px 0 7px 15px;
background: #a13b65 url(http://3.bp.blogspot.com/__Ue-P3hoW1M/TMgtydO3tVI/AAAAAAAAA5o/w4JKVbxlxhk/s1600/tab_backgr.png) right top no-repeat;
font-size: 16px;
font-family: Arial, Helvetica, Sans-serif;
font-weight: bold;
text-transform: uppercase;
text-shadow: 0 1px 0 #000;
color: #fff;
}
.sidebar ul {
list-style-type: none;
margin: 0px 0px 10px 0px;
padding: 0px;
}
.sidebar ul li {
list-style-type: none;
margin: 0px 0px 5px 0px;
padding: 0px;
}
.sidebar ul ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}
.sidebar ul li li {
padding: 3px 0px 3px 15px;
margin: 0px;
background: url(http://4.bp.blogspot.com/__Ue-P3hoW1M/TMgttf2gW3I/AAAAAAAAA5I/l0wtetWG_bE/s1600/bullet.gif) no-repeat top left;
}
.sidebar ul li {
background: #FFFFFF url(http://4.bp.blogspot.com/__Ue-P3hoW1M/TMgttf2gW3I/AAAAAAAAA5I/l0wtetWG_bE/s1600/bullet.gif) no-repeat top left;
padding: 2px 0px 2px 15px;
margin: 2px 0;
}
/* FOOTER */
#footer {
background: #6d6e6d;
padding: 22px;
text-align: center;
color: #fff;
font-size: 13px;
}
#footer a {
color: #fff;
}
#footer a:hover {
text-decoration: none;
}
#footer2 {
color: #999;
font-size: 11px;
text-align: center;
padding: 10px;
}
#footer2 a {
color: #999;
text-decoration: none;
}
/* COMMENTS */
#comments h3 {
margin-bottom: 10px;
}
#commentform input {
width: 170px;
padding: 2px;
margin: 5px 5px 1px 0;
}
#commentform {
margin: 5px 10px 0 0;
}
#commentform textarea {
width: 100%;
padding: 2px;
}
#respond:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#commentform #submit {
margin: 0 0 5px auto;
float: right;
}
.alt {
margin: 0;
padding: 10px;
}
.commentlist {
padding: 0;
text-align: justify;
}
.commentlist li {
margin: 15px 0 10px;
padding: 5px 5px 10px 10px;
list-style: none;
}
.commentlist li ul li {
margin-right: -5px;
margin-left: 10px;
}
.commentlist p {
margin: 10px 5px 10px 0;
}
.children { padding: 0; }
#commentform p {
margin: 5px 0;
}
.nocomments {
text-align: center;
margin: 0;
padding: 0;
}
.commentmetadata {
margin: 0;
display: block;
}
.post_thumbnail {
margin: 0 10px 10px 0;
}
ol.commentlist .avatar-image-container{
position:relative;
float: left;
margin: 0;
padding: 0 2px 0px 0;
border:none;
}
.commentlist .avatar-image-container img {
background:url(http://lh6.ggpht.com/_Kv5tIcZAMKY/TEwSZb50-pI/AAAAAAAABPM/wVhkuLSPBPI/s1600/grav.png);
width:32px;
height:32px;
}
.reactions-label-cell {
line-height: 1.7em;
}
p.comment-footer {
padding: 15px 0 15px 0px;
}
.comment-form{
margin:25px 0px 0px 0px;
max-width:632px !important;
width:632px !important;
}
h4.backlinks{
font-family:"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
font-size:1.5em;
line-height:1;
padding:0 0 15px 0px;
margin:0 0 10px 0px;
}
a.comment-link {
margin: 0px 0 0px 0px;
}
#blog-pager{
text-align: center;
padding: 0px 0 35px 0;
}
.feed-links{
}
.feed-links a:hover{
}
.feed-link{
}
.feed-link a:hover{
}
#backlinks-container{
}

--></style>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js' type='text/javascript'></script>
<script type='text/javascript'><!--//--><![CDATA[//><!--
/* ------------------------------------------------------------------------
	s3Slider
	
	Developped By: Boban KariÃ…Â¡ik -> http://www.serie3.info/
        CSS Help: MÃƒÂ©szÃƒÂ¡ros RÃƒÂ³bert -> http://www.perspectived.com/
	Version: 1.0
	
	Copyright: Feel free to redistribute the script/modify it, as
			   long as you leave my infos at the top.
------------------------------------------------------------------------- */


(function($){  

    $.fn.s3Slider = function(vars) {       
        
        var element     = this;
        var timeOut     = (vars.timeOut != undefined) ? vars.timeOut : 4000;
        var current     = null;
        var timeOutFn   = null;
        var faderStat   = true;
        var mOver       = false;
        var items       = $("#" + element[0].id + "Content ." + element[0].id + "Image");
        var itemsSpan   = $("#" + element[0].id + "Content ." + element[0].id + "Image span");
            
        items.each(function(i) {
    
            $(items[i]).mouseover(function() {
               mOver = true;
            });
            
            $(items[i]).mouseout(function() {
                mOver   = false;
                fadeElement(true);
            });
            
        });
        
        var fadeElement = function(isMouseOut) {
            var thisTimeOut = (isMouseOut) ? (timeOut/2) : timeOut;
            thisTimeOut = (faderStat) ? 10 : thisTimeOut;
            if(items.length > 0) {
                timeOutFn = setTimeout(makeSlider, thisTimeOut);
            } else {
                console.log("Poof..");
            }
        }
        
        var makeSlider = function() {
            current = (current != null) ? current : items[(items.length-1)];
            var currNo      = jQuery.inArray(current, items) + 1
            currNo = (currNo == items.length) ? 0 : (currNo - 1);
            var newMargin   = $(element).width() * currNo;
            if(faderStat == true) {
                if(!mOver) {
                    $(items[currNo]).fadeIn((timeOut/6), function() {
                        if($(itemsSpan[currNo]).css('bottom') == 0) {
                            $(itemsSpan[currNo]).slideUp((timeOut/6), function() {
                                faderStat = false;
                                current = items[currNo];
                                if(!mOver) {
                                    fadeElement(false);
                                }
                            });
                        } else {
                            $(itemsSpan[currNo]).slideDown((timeOut/6), function() {
                                faderStat = false;
                                current = items[currNo];
                                if(!mOver) {
                                    fadeElement(false);
                                }
                            });
                        }
                    });
                }
            } else {
                if(!mOver) {
                    if($(itemsSpan[currNo]).css('bottom') == 0) {
                        $(itemsSpan[currNo]).slideDown((timeOut/6), function() {
                            $(items[currNo]).fadeOut((timeOut/6), function() {
                                faderStat = true;
                                current = items[(currNo+1)];
                                if(!mOver) {
                                    fadeElement(false);
                                }
                            });
                        });
                    } else {
                        $(itemsSpan[currNo]).slideUp((timeOut/6), function() {
                        $(items[currNo]).fadeOut((timeOut/6), function() {
                                faderStat = true;
                                current = items[(currNo+1)];
                                if(!mOver) {
                                    fadeElement(false);
                                }
                            });
                        });
                    }
                }
            }
        }
        
        makeSlider();

    };  

})(jQuery);  
//--><!]]></script>
<script type='text/javascript'>
$(document).ready(function() {
$('#s3slider').s3Slider({
timeOut: 4000
});
});
</script>
<SCRIPT type='text/javascript'> var thumbnail_mode = "no-float" ; summary_noimg = 550; summary_img = 500; img_thumb_height = 200; img_thumb_width = 250; </SCRIPT>
<script type='text/javascript'>
//<![CDATA[

function removeHtmlTag(strx,chop){ 
	if(strx.indexOf("<")!=-1)
	{
		var s = strx.split("<"); 
		for(var i=0;i<s.length;i++){ 
			if(s[i].indexOf(">")!=-1){ 
				s[i] = s[i].substring(s[i].indexOf(">")+1,s[i].length); 
			} 
		} 
		strx =  s.join(""); 
	}
	chop = (chop < strx.length-1) ? chop : strx.length-2; 
	while(strx.charAt(chop-1)!=' ' && strx.indexOf(' ',chop)!=-1) chop++; 
	strx = strx.substring(0,chop-1); 
	return strx+'...'; 
}

function createSummaryAndThumb(pID){
	var div = document.getElementById(pID);
	var imgtag = "";
	var img = div.getElementsByTagName("img");
	var summ = summary_noimg;
	if(img.length>=1) {	
		imgtag = '<span style="float:left;margin-top:-15px; padding:0px 0px 5px 0px;"><img src="'+img[0].src+'" width="'+img_thumb_width+'px" height="'+img_thumb_height+'px"/></span>';
		summ = summary_img;
	}
	
	var summary = imgtag + '<div>' + removeHtmlTag(div.innerHTML,summ) + '</div>';
	div.innerHTML = summary;
}




//]]>

</script>
<script type="text/javascript">var a=navigator,b="userAgent",c="indexOf",f="&m=1",g="(^|&)m=",h="?",k="?m=1";function l(){var d=window.location.href,e=d.split(h);switch(e.length){case 1:return d+k;case 2:return 0<=e[1].search(g)?null:d+f;default:return null}}if(-1!=a[b][c]("Mobile")&&-1!=a[b][c]("WebKit")&&-1==a[b][c]("iPad")||-1!=a[b][c]("Opera Mini")||-1!=a[b][c]("IEMobile")){var m=l();m&&window.location.replace(m)};
</script><script type="text/javascript">
if (window.jstiming) window.jstiming.load.tick('headEnd');
</script></head>
<body>
<div class='navbar section' id='navbar'><div class='widget Navbar' id='Navbar1'><script type="text/javascript">
    function setAttributeOnload(object, attribute, val) {
      if(window.addEventListener) {
        window.addEventListener('load',
          function(){ object[attribute] = val; }, false);
      } else {
        window.attachEvent('onload', function(){ object[attribute] = val; });
      }
    }
  </script>
<div id="navbar-iframe-container"></div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript">
        gapi.load("iframes-styles-bubble", function() {
          if (window.iframes && iframes.open) {
            iframes.open(
                '//www.blogger.com/navbar.g?targetBlogID\758296353247421133916\46blogName\75Kestii+zilnice\46publishMode\75PUBLISH_MODE_BLOGSPOT\46navbarType\75LIGHT\46layoutType\75LAYOUTS\46searchRoot\75http://kestiizilnice.blogspot.com/search\46blogLocale\75ro\46v\0752\46homepageUrl\75http://kestiizilnice.blogspot.com/\46vt\75-6416104846215668631',
                {
                  container: "navbar-iframe-container",
                  id: "navbar-iframe"
                },
                {
                });
          }
        });
      </script><script type="text/javascript">
(function() {
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = '//pagead2.googlesyndication.com/pagead/js/google_top_exp.js';
var head = document.getElementsByTagName('head')[0];
if (head) {
head.appendChild(script);
}})();
</script>
</div></div>
<!-- Wrapper -->
<div id='wrapper'>
<!-- Container -->

<div class='container' id='container'>
<!-- skip links for text browsers -->
<span id='skiplinks' style='display:none;'>
<a href='#main'>skip to main </a> |
      <a href='#sidebar'>skip to sidebar</a>
</span>
<div class='span-24'>
<div class='span-17'>
<div id='pagemenucontainer'>
<ul id='pagemenu'>
<li class='current_page_item'><a href='http://kestiizilnice.blogspot.ro/' title='Home'>Home</a></li>
<li><a href='http://www.blogger.com/home' title='Log In'>Log In</a></li>

<li><a href='http://www.protv.ro/' title='ProTV'>ProTV</a></li>
<li><a href='http://www.adevarul.ro/locale/alba_iulia/' title='Adevarul'>Adevarul</a></li>
</ul>
</div>
</div>
<div class='span-7 last'>
<div id='topsearch'>
<div id='search'>
<form action='/search' id='searchform' method='get'>
<input id='s' name='q' onblur='if (this.value == &#39;&#39;)  {this.value = &#39;Search&#39;;}' onfocus='if (this.value == &#39;Search&#39;) {this.value = &#39;&#39;;}' type='text' value='Search'/>
<input src='http://1.bp.blogspot.com/__Ue-P3hoW1M/TMgtubmp3PI/AAAAAAAAA5g/dZsg965WguI/s1600/search.gif' style='border:0; vertical-align: top;' type='image'/>
</form>
</div>
</div></div>
</div>

<div class='span-24' id='header'>
<div class='span-12'>
<a href='http://kestiizilnice.blogspot.ro/' title='Home'><img alt='BloggerTheme' class='logoimg' src='http://2.bp.blogspot.com/_uwWREZ-x37g/TRzEJjg8KPI/AAAAAAAABDM/RaTubONqFJQ/s1600/loga.png' title='BloggerTheme'/></a>
</div>
</div>
<div class='span-24'>
<div class='navcontainer'>
<ul id='nav'>
<li class='current-cat'><a href='http://kestiizilnice.blogspot.ro/' title='Home'>Home</a></li>
<li><a href='http://kestiizilnice.blogspot.com/search?q=video' title='Videoclipuri'>Videoclipuri</a></li>
<li><a href='http://kestiizilnice.blogspot.com/search/label/film' title='Filme'>Filme</a></li>
<li><a href='http://kestiizilnice.blogspot.com/search/label/romanii%20au%20talent' title='Romanii au talent'>Romanii au talent</a></li>
<li><a href='http://kestiizilnice.blogspot.com/search/label/Alba%20Iulia' title='Despre Alba Iulia'>Despre Alba Iulia</a></li>

</ul>
</div>
</div>
<!-- Content -->
<div class='span-24' id='contentwrap'>
<div class='span-16'>
<div class='black-bg' id='slider-holder'>
<div id='s3slider'>
<ul id='s3sliderContent'>
<li class='s3sliderImage' style='display: list-item;'>
<a href='http://kestiizilnice.blogspot.ro/2013/03/smiley-alex-velea-dincolo-de-cuvinte.html'><img alt='Imagen 1' src='http://www.utv.ro/media/new-video-pop-smiley-alex-velea-2013-dincolo-de-cuvinte-utvro.jpg' style='width: 610px; height: 320px;'/></a>
<span style='display: block;'>
<a class='featured-title block' href='http://kestiizilnice.blogspot.ro/2013/03/smiley-alex-velea-dincolo-de-cuvinte.html' rel='bookmark' title='Smiley and Alex Velea - Dincolo de cuvinte (Official video)'>Smiley and Alex Velea - Dincolo de cuvinte (Official video)</a><br/>
 ...
</span>

</li>
<li class='s3sliderImage' style='display: none;'>
<a href='http://kestiizilnice.blogspot.ro/2013/02/cabron-feat-whats-up-iarna-pe-val.html'><img alt='Imagen 2' src='http://www.urban.ro/data/Image/image/single/cabron%20-%20iarna%20pe%20val.jpg' style='width: 610px; height: 320px;'/></a>
<span style='display: none;'>
<a class='featured-title block' href='http://kestiizilnice.blogspot.ro/2013/02/cabron-feat-whats-up-iarna-pe-val.html' rel='bookmark' title='Cabron feat. Whats Up - Iarna pe val (Official Video) '>Cabron feat. Whats Up - Iarna pe val (Official Video) </a><br/>
...
</span>
</li>
<li class='s3sliderImage' style='display: none;'>
<a href='http://kestiizilnice.blogspot.ro/2013/02/corina-feat-pacha-man-pernele-moi.html'><img alt='Imagen 3' src='http://www.urban.ro/data/Image/image/single/corina%20-%20pernele%20moi.jpg' style='width: 610px; height: 320px;'/></a>
<span style='display: none;'>
<a class='featured-title block' href='http://kestiizilnice.blogspot.ro/2013/02/corina-feat-pacha-man-pernele-moi.html' rel='bookmark' title='Corina feat. Pacha Man - Pernele moi (Official Video)  '>Corina feat. Pacha Man - Pernele moi (Official Video)  </a><br/>
 ...
</span>

</li>
<li class='s3sliderImage' style='display: none;'>
<a href='http://kestiizilnice.blogspot.ro/2013/02/jyolo-te-pup-pa-pa-official-video.html'><img alt='Imagen 4' src='http://www.urbanblog.ro/wp-content/uploads/j-yolo-te-pup-pa-pa-578x289.png' style='width: 610px; height: 320px;'/></a>
<span style='display: none;'>
<a class='featured-title block' href='http://kestiizilnice.blogspot.ro/2013/02/jyolo-te-pup-pa-pa-official-video.html' rel='bookmark' title='J.Yolo - Te pup, Pa Pa! (Official Video)  '>J.Yolo - Te pup, Pa Pa! (Official Video)  </a><br/>
...
</span>
</li>
<li class='s3sliderImage' style='display: none;'>
<a href='http://kestiizilnice.blogspot.ro/2012/11/celia-dor-de-noi-joi.html'><img alt='Imagen 5' src='http://www.allby.ro/userfiles/image/2012/celia-31102012.jpg' style='width: 610px; height: 320px;'/></a>
<span style='display: none;'>
<a class='featured-title block' href='http://kestiizilnice.blogspot.ro/2012/11/celia-dor-de-noi-joi.html' rel='bookmark' title='CELIA - DOR DE NOI (JOI)'>CELIA - DOR DE NOI (JOI)</a><br/>
 ...
</span>

</li>
<li class='clear s3sliderImage'></li>
</ul>
</div>
</div>
<div id='content'>
<div class='main section' id='main'><div class='widget Blog' id='Blog1'>
<div class='blog-posts hfeed'>
<!-- google_ad_section_start -->
<div class='post' id='post'>
<a name='3786838780909220708'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/narcotic-sound-tara-song.html'>Narcotic Sound - Tara Song</a>
</h2>
<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>

5/15/2013 11:08:00 AM
<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=3786838780909220708&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>
0 Comments
		  
</a>
<span class='post-icons'>
<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=3786838780909220708' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>
</span>
</span>
</div>
<div class='post-header-line-1'></div>
<div class='entry'>
<p>

<div id='summary3786838780909220708'><div class="separator" style="clear: both; text-align: center;">
<a href="http://www.emonden.co/wp-content/uploads/2013/05/Narcotic-Sound-and-Christian-D-Tara-Song.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="320" src="http://www.emonden.co/wp-content/uploads/2013/05/Narcotic-Sound-and-Christian-D-Tara-Song.jpg" width="320" /></a></div>
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/Ws87Ehh2cl0" width="560"></iframe><br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary3786838780909220708");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/narcotic-sound-tara-song.html' rel='bookmark'>Read More...&#187;</a></span></div>
</p>
<div style='clear: both;'></div>
<div style='clear'></div>
<div class='edit'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<span class='reaction-buttons'>
</span>

<span class='star-ratings'>
</span>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>
</div>
</div>
</div>
<div class='post' id='post'>
<a name='5416144290137433303'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/delia-cineva-la-usa-mea.html'>Delia - Cineva la usa mea</a>
</h2>

<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>
5/15/2013 11:06:00 AM
<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, Posted in 
	    
<a href='http://kestiizilnice.blogspot.ro/search/label/Delia%20-%20Cineva%20la%20usa%20mea' rel='tag'>Delia - Cineva la usa mea</a>
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=5416144290137433303&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>
0 Comments
		  
</a>
<span class='post-icons'>
<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=5416144290137433303' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>
</span>

</span>
</div>
<div class='post-header-line-1'></div>
<div class='entry'>
<p>
<div id='summary5416144290137433303'><div class="separator" style="clear: both; text-align: center;">
<a href="http://assets.a1.ro/2013/03/05/133783/delia-11_size1.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://assets.a1.ro/2013/03/05/133783/delia-11_size1.png" width="320" /></a></div>
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/HvkjE46i3eg" width="560"></iframe><br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary5416144290137433303");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/delia-cineva-la-usa-mea.html' rel='bookmark'>Read More...&#187;</a></span></div>
</p>
<div style='clear: both;'></div>
<div style='clear'></div>
<div class='edit'></div>

</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<span class='reaction-buttons'>
</span>
<span class='star-ratings'>
</span>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>
</div>
</div>
</div>
<div class='post' id='post'>

<a name='117686141361169424'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/puya-si-don-baxter-baga-bani.html'>Puya si Don Baxter - Baga Bani</a>
</h2>
<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>
5/13/2013 10:04:00 PM
<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, Posted in 
	    
<a href='http://kestiizilnice.blogspot.ro/search/label/Puya%20si%20Don%20Baxter%20-%20Baga%20Bani' rel='tag'>Puya si Don Baxter - Baga Bani</a>
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=117686141361169424&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>
0 Comments
		  
</a>
<span class='post-icons'>

<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=117686141361169424' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>
</span>
</span>
</div>
<div class='post-header-line-1'></div>
<div class='entry'>
<p>
<div id='summary117686141361169424'><div class="separator" style="clear: both; text-align: center;">
<a href="http://www.urban.ro/data/Image/puya%20don%20connect.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="161" src="http://www.urban.ro/data/Image/puya%20don%20connect.jpg" width="320" /></a></div>
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/bJ4qpaP8dKk" width="560"></iframe><br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary117686141361169424");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/puya-si-don-baxter-baga-bani.html' rel='bookmark'>Read More...&#187;</a></span></div>

</p>
<div style='clear: both;'></div>
<div style='clear'></div>
<div class='edit'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<span class='reaction-buttons'>
</span>
<span class='star-ratings'>
</span>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>

</div>
</div>
</div>
<div class='post' id='post'>
<a name='3239484310851836198'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/alex-velea-e-marfa-tare.html'>Alex Velea - E marfă tare</a>
</h2>
<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>
5/13/2013 08:18:00 PM
<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, Posted in 
	    
<a href='http://kestiizilnice.blogspot.ro/search/label/Alex%20Velea%20-%20E%20marf%C4%83%20tare' rel='tag'>Alex Velea - E marfă tare</a>
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=3239484310851836198&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>

0 Comments
		  
</a>
<span class='post-icons'>
<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=3239484310851836198' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>
</span>
</span>
</div>
<div class='post-header-line-1'></div>
<div class='entry'>
<p>
<div id='summary3239484310851836198'><div class="separator" style="clear: both; text-align: center;">
<a href="http://www.unica.ro/uploads/RTEmagicC_alex_velea_2_01.jpg.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="293" src="http://www.unica.ro/uploads/RTEmagicC_alex_velea_2_01.jpg.jpg" width="320" /></a></div>
<div style="text-align: center;">
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/D5oANtQdQ50" width="560"></iframe><br /></div>

<br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary3239484310851836198");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/alex-velea-e-marfa-tare.html' rel='bookmark'>Read More...&#187;</a></span></div>
</p>
<div style='clear: both;'></div>
<div style='clear'></div>
<div class='edit'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<span class='reaction-buttons'>
</span>
<span class='star-ratings'>
</span>
</div>

<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>
</div>
</div>
</div>
<div class='post' id='post'>
<a name='6332119786843472514'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/adi-cristescu-vs-chris-mayer-acel-inel.html'>Adi Cristescu vs. Chris Mayer - Acel inel</a>
</h2>
<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>
5/13/2013 10:38:00 AM

<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, Posted in 
	    
<a href='http://kestiizilnice.blogspot.ro/search/label/Adi%20Cristescu%20vs.%20Chris%20Mayer%20-%20Acel%20inel' rel='tag'>Adi Cristescu vs. Chris Mayer - Acel inel</a>
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=6332119786843472514&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>
0 Comments
		  
</a>
<span class='post-icons'>
<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=6332119786843472514' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>
</span>
</span>
</div>
<div class='post-header-line-1'></div>

<div class='entry'>
<p>
<div id='summary6332119786843472514'><div class="separator" style="clear: both; text-align: center;">
<a href="http://imagini3.bestmusic.ro/image/1/640/0/60075753/Adi-Cristescu-vs-Chris-Mayer---Acel-inel-single-nou.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="212" src="http://imagini3.bestmusic.ro/image/1/640/0/60075753/Adi-Cristescu-vs-Chris-Mayer---Acel-inel-single-nou.jpg" width="320" /></a></div>
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/spEJ9nVuQRg" width="560"></iframe><br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary6332119786843472514");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/adi-cristescu-vs-chris-mayer-acel-inel.html' rel='bookmark'>Read More...&#187;</a></span></div>
</p>
<div style='clear: both;'></div>
<div style='clear'></div>
<div class='edit'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>

<span class='reaction-buttons'>
</span>
<span class='star-ratings'>
</span>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>
</div>
</div>
</div>
<div class='post' id='post'>
<a name='2048026842567007509'></a>
<h2 class='title'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/liviu-hodor-feat-mona-no-stress.html'>Liviu Hodor feat Mona - No Stress (Official Video)</a>

</h2>
<div class='postdate'>
<img src='http://4.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfYI-xoUI/AAAAAAAAAbo/tAu4WdSrH5A/s1600/date.png'/>
5/09/2013 07:58:00 PM
<img src='http://3.bp.blogspot.com/_v5Bt2NHC-zQ/TJBfp1x1_LI/AAAAAAAAAdA/TwuRZ79wP90/s1600/user.png'/>
skull_butterfly
, Posted in 
	    
<a href='http://kestiizilnice.blogspot.ro/search/label/Liviu%20Hodor%20feat%20Mona%20-%20No%20Stress%20%28Official%20Video%29' rel='tag'>Liviu Hodor feat Mona - No Stress (Official Video)</a>
, 
		<a href='http://www.blogger.com/comment.g?blogID=8296353247421133916&amp;postID=2048026842567007509&amp;isPopup=true' onclick='javascript:window.open(this.href, "bloggerPopup", "toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=640,height=500"); return false;'>
0 Comments
		  
</a>
<span class='post-icons'>
<span class='item-action'>
<a href='http://www.blogger.com/email-post.g?blogID=8296353247421133916&postID=2048026842567007509' title='Trimiteţi postarea prin e-mail'>
<img alt='' class='icon-action' height='13' src='http://www.blogger.com/img/icon18_email.gif' width='18'/>
</a>

</span>
</span>
</div>
<div class='post-header-line-1'></div>
<div class='entry'>
<p>
<div id='summary2048026842567007509'><div class="separator" style="clear: both; text-align: center;">
<a href="http://images.musicislife.ro/11921_599868770023988_473001298_n_8c2533377d.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="255" src="http://images.musicislife.ro/11921_599868770023988_473001298_n_8c2533377d.jpg" width="320" /></a></div>
<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/J2hMAagOo6o" width="560"></iframe><br /></div>
<script type='text/javascript'>createSummaryAndThumb("summary2048026842567007509");
</script>
<div style='border:0px;padding-top:5px;;float:right;text-align:right;'><span class='readmorecontent'><a class='readmore' href='http://kestiizilnice.blogspot.ro/2013/05/liviu-hodor-feat-mona-no-stress.html' rel='bookmark'>Read More...&#187;</a></span></div>
</p>
<div style='clear: both;'></div>
<div style='clear'></div>

<div class='edit'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<span class='reaction-buttons'>
</span>
<span class='star-ratings'>
</span>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'>
<span class='post-location'>
</span>
</div>
</div>
</div>

<!-- google_ad_section_end -->
</div>
<div class='navigation'>
<div class='blog-pager' id='blog-pager'>
<span id='blog-pager-older-link'>
<a class='blog-pager-older-link' href='http://kestiizilnice.blogspot.ro/search?updated-max=2013-05-09T19:58:00%2B03:00&amp;max-results=6' id='Blog1_blog-pager-older-link' title='Postări mai vechi'>Postări mai vechi</a>
</span>
</div>
<div class='clear'></div>
</div>
<div class='blog-feeds'>
<div class='feed-links'>
Abonaţi-vă la:
<a class='feed-link' href='http://kestiizilnice.blogspot.com/feeds/posts/default' target='_blank' type='application/atom+xml'>Postări (Atom)</a>
</div>

</div>
</div></div>
</div>
</div>
<!-- /content -->
<!-- Sidebar Wrapper -->
<div class='span-8 last'>
<!-- Sidebar -->
<div class='sidebar'>
<div class='addthis_toolbox'>
<div class='custom_images'>
<a class='addthis_button_twitter'><img alt='Twitter' height='32' src='http://2.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRQrtGI9I/AAAAAAAAAkE/TehY5DvA2i4/s1600/twitter.png' width='32'/></a>
<a class='addthis_button_delicious'><img alt='Delicious' height='32' src='http://2.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRHiI-TkI/AAAAAAAAAjU/M7yYqcXSaVY/s1600/delicious.png' width='32'/></a>
<a class='addthis_button_facebook'><img alt='Facebook' height='32' src='http://3.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRIszXqZI/AAAAAAAAAjk/MVyJH68vcdQ/s1600/facebook.png' width='32'/></a>
<a class='addthis_button_digg'><img alt='Digg' height='32' src='http://1.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRIVMSqTI/AAAAAAAAAjc/clgMn5PVbX4/s1600/digg.png' width='32'/></a>
<a class='addthis_button_stumbleupon'><img alt='Stumbleupon' height='32' src='http://4.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRQJbqUtI/AAAAAAAAAj8/ElVXWZd73bk/s1600/stumbleupon.png' width='32'/></a>
<a class='addthis_button_favorites'><img alt='Favorites' height='32' src='http://2.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRJ6x1-nI/AAAAAAAAAjs/dy13iQhL9xk/s1600/favorites.png' width='32'/></a>

<a class='addthis_button_more'><img alt='More' height='32' src='http://2.bp.blogspot.com/_9JA_T4Y0hrQ/TLNRPZqP_GI/AAAAAAAAAj0/XJYIjd15Mso/s1600/more.png' width='32'/></a>
</div>
</div>
<div class='rssbox'>
</div>
<div class='twitterbox'>
</div>
<ul>
<div class='section' id='sidebar1'><div class='widget BlogList' id='BlogList1'>
<h2 class='title'>My Blog List</h2>
<div class='widget-content'>
<div class='blog-list-container' id='BlogList1_container'>
<ul id='BlogList1_blogs'>
<li style='display: block;'>
<div class='blog-icon'>
</div>

<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.fashionising.com' target='_blank'>
Fashionising.com's Fashion Blog: Fashion Trends & Celebrity Fashion</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://feedproxy.google.com/~r/RogueFashionTrends/~3/1iSZHf08I1U/b--free-people-sidewalk-safari-may-13-look-book-55278.html' target='_blank'>
Free People &#8216;Sidewalk Safari&#8217; May &#8217;13 look book</a>
</span>

<div class='item-time'>
Acum 13 minute
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.tvblog.ro' target='_blank'>
Seriale tv - TvBlog</a>
</div>
<div class='item-content'>

<span class='item-title'>
<a href='http://www.tvblog.ro/ratinguri-tv-miercuri-15-mai-2013/' target='_blank'>
Ratinguri TV &#8211; miercuri 15 mai 2013</a>
</span>
<div class='item-time'>
Acum 30 de minute
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>

<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.divercitycafe.ro' target='_blank'>
DivercityCafe: Muzica, filme</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://feedproxy.google.com/~r/divercitycafe/~3/QxHrFCBIPy4/trofeul-club-a-avanpost-rock-pe-21-mai.html' target='_blank'>
Trofeul Club A &#8211; Avanpost Rock, pe 21 mai</a>
</span>
<div class='item-time'>
Acum 3 ore
</div>

</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.kristofer.ro' target='_blank'>
kristofer93</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://feedproxy.google.com/~r/Kristofer93/~3/SqBvdWFD5RY/' target='_blank'>
Concursul național ExplorIT ajunge la ediția a IV-a. Start înscrierilor!</a>

</span>
<div class='item-time'>
Acum 6 ore
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://fashionbride.wordpress.com' target='_blank'>
Fashionbride's Weblog</a>
</div>

<div class='item-content'>
<span class='item-title'>
<a href='http://fashionbride.wordpress.com/2013/05/16/yolancris-iconic-2013-spring-bridal-collection/' target='_blank'>
YolanCris Iconic 2013 Spring Bridal Collection</a>
</span>
<div class='item-time'>
Acum 16 ore
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>

<div class='blog-title'>
<a href='http://www.cristi-brancu.ro' target='_blank'>
Cristi Brancu</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://feedproxy.google.com/~r/CristiBrancu/~3/l6wlXHTkBhk/' target='_blank'>
Daniela Gyorfi despre chestii tari, tari, tari la Agentul VIP!!! Intrebari?</a>
</span>
<div class='item-time'>
Acum o zi
</div>
</div>
</div>
<div style='clear: both;'></div>

</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.ceimbracazi.ro' target='_blank'>
Ce imbrac azi?</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://www.ceimbracazi.ro/2013/05/tendinte-beauty-vedete-la-gala-met/' target='_blank'>
Tendinte beauty, vedete la Gala Met</a>
</span>
<div class='item-time'>

Acum 2 zile
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://mihaibendeac.ro' target='_blank'>
Mihai Bendeac</a>
</div>
<div class='item-content'>
<span class='item-title'>

<a href='http://mihaibendeac.ro/2013/05/povestea-mea.html' target='_blank'>
Povestea mea</a>
</span>
<div class='item-time'>
Acum 2 zile
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.rimel.ro' target='_blank'>

Rimel.ro</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://feedproxy.google.com/~r/RimelClub/~3/EZOt6DHWMlY/jennifer-lopez-a-prins-gustul-colaborarilor-cu-pitbull.html' target='_blank'>
Jennifer Lopez a prins gustul colaborărilor cu Pitbull</a>
</span>
<div class='item-time'>
Acum o săptămână
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>

<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://blog.coolgirl.ro' target='_blank'>
COOL GIRL Blog</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://blog.coolgirl.ro/2013/03/29/nou-boutique-de-machiaj-in-afi-cotroceni/' target='_blank'>
Nou! Boutique de machiaj, în AFI Cotroceni</a>
</span>
<div class='item-time'>
Acum o lună
</div>

</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.bigfatdiary.com' target='_blank'>
D.'s Big Fat Diary</a>
</div>
<div class='item-content'>
<span class='item-title'>
<a href='http://www.bigfatdiary.com/jason-reeves-nelly-joy-more-in-love-with-you/?utm_source=rss&utm_medium=rss&utm_campaign=jason-reeves-nelly-joy-more-in-love-with-you' target='_blank'>
Jason Reeves &amp; Nelly Joy &#8211; More In Love With You</a>

</span>
<div class='item-time'>
Acum 2 luni
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li style='display: block;'>
<div class='blog-icon'>
</div>
<div class='blog-content'>
<div class='blog-title'>
<a href='http://www.maruta.ro' target='_blank'>
Cătălin Măruță</a>
</div>

<div class='item-content'>
<span class='item-title'>
<a href='http://www.maruta.ro/diverse/pariu-cu-maruta/' target='_blank'>
Pariu cu Maruta</a>
</span>
<div class='item-time'>
Acum 10 luni
</div>
</div>
</div>
<div style='clear: both;'></div>
</li>
</ul>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>

<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8296353247421133916&widgetType=BlogList&widgetId=BlogList1&action=editWidget&sectionId=sidebar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("BlogList1"));' target='configBlogList1' title='Editaţi'>
<img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>
</span>
</span>
<div class='clear'></div>
</div>
</div>
</div>
<div class='widget PopularPosts' id='PopularPosts1'>
<h2>Popular Posts</h2>
<div class='widget-content popular-posts'>
<ul>
<li>
<div class='item-content'>
<div class='item-thumbnail'>

<a href='http://kestiizilnice.blogspot.ro/2013/05/alexandra-stan-vs-manilla-maniacs-all.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/2oIlS-ARtA8/default.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/05/alexandra-stan-vs-manilla-maniacs-all.html'>Alexandra Stan vs. Manilla Maniacs - All My People (OFFICIAL VIDEO)</a></div>
<div class='item-snippet'>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li>
<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2013/04/lora-capu-sus-official-video.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/74quRUdkfjc/default.jpg' width='72'/>
</a>

</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/04/lora-capu-sus-official-video.html'>Lora - Capu' sus (official video) </a></div>
<div class='item-snippet'>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li>
<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2013/04/andra-inevitabil-va-fi-bine-official.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/6cKknBmfmK8/default.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/04/andra-inevitabil-va-fi-bine-official.html'>Andra - Inevitabil va fi bine (Official Video) </a></div>

<div class='item-snippet'>
</div>
</div>
<div style='clear: both;'></div>
</li>
<li>
<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2010/04/wenge-si-umami.html' target='_blank'>
<img alt='' border='0' height='72' src='http://4.bp.blogspot.com/_uwWREZ-x37g/S7W89gzimtI/AAAAAAAAA40/Uwz-7X_kE4I/s72-c/Intra-pe-piata--al-cincilea-gust-.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2010/04/wenge-si-umami.html'>Wenge si umami</a></div>
<div class='item-snippet'>Poate o sa ma considerati blonda, dar am ramas mirata cand o tipa se lauda ca&#160; si`a cumparat mobila de culoare wenge (se citeste venghe). N`...</div>

</div>
<div style='clear: both;'></div>
</li>
<li>
<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/dj-rynno-sylvia-noi-doi.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/Mwsjrh7LIws/default.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/05/dj-rynno-sylvia-noi-doi.html'>Dj Rynno & Sylvia - Noi Doi</a></div>
<div class='item-snippet'>
</div>
</div>
<div style='clear: both;'></div>

</li>
<li>
<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2013/04/phelipe-feat-bitza-vad-cum-ma-privesti.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/saJLEZNPgpg/default.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/04/phelipe-feat-bitza-vad-cum-ma-privesti.html'>Phelipe Feat. Bitza - Vad Cum Ma Privesti</a></div>
<div class='item-snippet'> &#160;       </div>
</div>
<div style='clear: both;'></div>
</li>
<li>

<div class='item-content'>
<div class='item-thumbnail'>
<a href='http://kestiizilnice.blogspot.ro/2013/05/liviu-hodor-feat-mona-no-stress.html' target='_blank'>
<img alt='' border='0' height='72' src='http://img.youtube.com/vi/J2hMAagOo6o/default.jpg' width='72'/>
</a>
</div>
<div class='item-title'><a href='http://kestiizilnice.blogspot.ro/2013/05/liviu-hodor-feat-mona-no-stress.html'>Liviu Hodor feat Mona - No Stress (Official Video)</a></div>
<div class='item-snippet'>
</div>
</div>
<div style='clear: both;'></div>
</li>
</ul>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>

<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8296353247421133916&widgetType=PopularPosts&widgetId=PopularPosts1&action=editWidget&sectionId=sidebar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("PopularPosts1"));' target='configPopularPosts1' title='Editaţi'>
<img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>
</span>
</span>
<div class='clear'></div>
</div>
</div><div class='widget PageList' id='PageList14'>
<div class='widget-content'>
<ul class='menus menu-primary'>
</ul>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>
<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8296353247421133916&widgetType=PageList&widgetId=PageList14&action=editWidget&sectionId=sidebar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("PageList14"));' target='configPageList14' title='Editaţi'>
<img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>

</span>
</span>
<div class='clear'></div>
</div>
</div>
<div class='widget HTML' id='HTML4'>
<h2 class='title'>Vizitatori</h2>
<div class='widget-content'>
<!-- Begin Hit Counter -->
<!-- URL: http://www.webmasterapps.com/ -->
<a style=" border:none; padding: 0pt; margin:0px;" href="http://www.webmasterapps.com/" target="_blank"><img border="0" alt="Free Hit Counters" width="160" src="http://www.no1freehitcounter.com/hcw3c/?id=1CZyKoclh9abfyfo2w7XGg%3D%3D" height="20"/></a>
<!-- End Hit Counter -->
</div>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>

<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8296353247421133916&widgetType=HTML&widgetId=HTML4&action=editWidget&sectionId=sidebar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML4"));' target='configHTML4' title='Editaţi'>
<img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>
</span>
</span>
<div class='clear'></div>
</div>
<div class='widget HTML' id='HTML3'>
<h2 class='title'>Users Online</h2>
<div class='widget-content'>
<script language="Javascript" src="http://www.freeusersonline.com/?action=track&siteurl=http://kestiidezicuzi.blogspot.com/"></script>
</div>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>

<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8296353247421133916&widgetType=HTML&widgetId=HTML3&action=editWidget&sectionId=sidebar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML3"));' target='configHTML3' title='Editaţi'>
<img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>
</span>
</span>
<div class='clear'></div>
</div><div class='widget Header' id='Header1'>
<div id='header-inner'>
<div class='titlewrapper'>
<h1 class='title'>
<a href='http://kestiizilnice.blogspot.ro/'>Kestii zilnice</a>
</h1>
</div>
<div class='descriptionwrapper'>
<p class='description'><span>
</span></p>

</div>
</div>
</div></div>
</ul>
</div>
<!-- /Sidebar -->
</div>
<!-- /Sidebar Wrapper -->
</div>
<!-- /Content Wrap -->
<!-- Footer -->
<div class='span-24'>
<div id='footer'>
	&#169; 2010 <strong><a href='http://kestiizilnice.blogspot.ro/'>Kestii zilnice</a></strong> |Blogger Author <a href='http://www.bloggertheme.net/' target='_blank'><strong>BloggerTheme</strong></a> | <a href='http://www.bluehost101.com' target='_blank' title='Blue Host Coupon'>Blue Host Coupon</a>

</div>
<div id='footer2'>powered by <a href='http://blogger.com/'><strong>Blogger</strong></a> | WordPress by <a href='http://newwpthemes.com/' target='_blank'><strong>Newwpthemes</strong></a> | Converted by <a href='http://www.bloggertheme.net/' target='_blank'><strong>BloggerTheme</strong></a></div>
<!-- Footer -->
</div></div>
<!-- /Container -->
</div>
<!-- /Wrapper -->
<script type="text/javascript">
if (window.jstiming) window.jstiming.load.tick('widgetJsBefore');
</script><script type="text/javascript" src="//www.blogger.com/static/v1/widgets/2292841073-widgets.js"></script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type='text/javascript'>
if (typeof(BLOG_attachCsiOnload) != 'undefined' && BLOG_attachCsiOnload != null) { window['blogger_templates_experiment_id'] = "templatesV1";window['blogger_blog_id'] = '8296353247421133916';BLOG_attachCsiOnload(''); }_WidgetManager._Init('//www.blogger.com/rearrange?blogID\x3d8296353247421133916','//kestiizilnice.blogspot.ro/','8296353247421133916');
_WidgetManager._SetDataContext([{'name': 'blog', 'data': {'blogId': '8296353247421133916', 'bloggerUrl': 'http://www.blogger.com', 'title': 'Kestii zilnice', 'pageType': 'index', 'url': 'http://kestiizilnice.blogspot.ro/', 'canonicalUrl': 'http://kestiizilnice.blogspot.com/', 'canonicalHomepageUrl': 'http://kestiizilnice.blogspot.com/', 'homepageUrl': 'http://kestiizilnice.blogspot.ro/', 'blogspotFaviconUrl': 'http://kestiizilnice.blogspot.ro/favicon.ico', 'enabledCommentProfileImages': true, 'adultContent': false, 'disableAdSenseWidget': false, 'analyticsAccountNumber': '', 'searchLabel': '', 'searchQuery': '', 'pageName': '', 'pageTitle': 'Kestii zilnice', 'encoding': 'UTF-8', 'locale': 'ro', 'localeUnderscoreDelimited': 'ro', 'isPrivate': false, 'isMobile': false, 'isMobileRequest': false, 'mobileClass': '', 'isPrivateBlog': false, 'languageDirection': 'ltr', 'feedLinks': '\74link rel\75\42alternate\42 type\75\42application/atom+xml\42 title\75\42Kestii zilnice - Atom\42 href\75\42http://kestiizilnice.blogspot.com/feeds/posts/default\42 /\76\n\74link rel\75\42alternate\42 type\75\42application/rss+xml\42 title\75\42Kestii zilnice - RSS\42 href\75\42http://kestiizilnice.blogspot.com/feeds/posts/default?alt\75rss\42 /\76\n\74link rel\75\42service.post\42 type\75\42application/atom+xml\42 title\75\42Kestii zilnice - Atom\42 href\75\42http://www.blogger.com/feeds/8296353247421133916/posts/default\42 /\76\n\74link rel\75\42EditURI\42 type\75\42application/rsd+xml\42 title\75\42RSD\42 href\75\42http://www.blogger.com/rsd.g?blogID\758296353247421133916\42 /\076', 'meTag': '\74link rel\75\42me\42 href\75\42http://www.blogger.com/profile/09806754313034438926\42 /\76\n', 'openIdOpTag': '\74link rel\75\42openid.server\42 href\75\42http://www.blogger.com/openid-server.g\42 /\76\n\74link rel\75\42openid.delegate\42 href\75\42http://kestiizilnice.blogspot.com/\42 /\76\n', 'imageSrcTag': '', 'latencyHeadScript': '\74script type\75\42text/javascript\42\76(function() { var b\75window,e\75\42jstiming\42,g\75\42tick\42;(function(){function d(a){this.t\75{};this.tick\75function(a,d,c){c\75void 0!\75c?c:(new Date).getTime();this.t[a]\75[c,d]};this[g](\42start\42,null,a)}var a\75new d;b.jstiming\75{Timer:d,load:a};if(b.performance\46\46b.performance.timing){var a\75b.performance.timing,c\75b[e].load,f\75a.navigationStart,a\75a.responseStart;0\74f\46\46a\76\75f\46\46(c[g](\42_wtsrt\42,void 0,f),c[g](\42wtsrt_\42,\42_wtsrt\42,a),c[g](\42tbsd_\42,\42wtsrt_\42))}try{a\75null,b.chrome\46\46b.chrome.csi\46\46(a\75Math.floor(b.chrome.csi().pageT),c\46\0460\74f\46\46(c[g](\42_tbnd\42,void 0,b.chrome.csi().startE),\nc[g](\42tbnd_\42,\42_tbnd\42,f))),null\75\75a\46\46b.gtbExternal\46\46(a\75b.gtbExternal.pageT()),null\75\75a\46\46b.external\46\46(a\75b.external.pageT,c\46\0460\74f\46\46(c[g](\42_tbnd\42,void 0,b.external.startE),c[g](\42tbnd_\42,\42_tbnd\42,f))),a\46\46(b[e].pt\75a)}catch(l){}})();b.tickAboveFold\75function(d){var a\0750;if(d.offsetParent){do a+\75d.offsetTop;while(d\75d.offsetParent)}d\75a;750\76\75d\46\46b[e].load[g](\42aft\42)};var h\75!1;function k(){h||(h\75!0,b[e].load[g](\42firstScrollTime\42))}b.addEventListener?b.addEventListener(\42scroll\42,k,!1):b.attachEvent(\42onscroll\42,k);\n })();\74/script\076', 'mobileHeadScript': '', 'view': '', 'dynamicViewsCommentsSrc': '//www.blogblog.com/dynamicviews/4224c15c4e7c9321/js/comments.js', 'dynamicViewsScriptSrc': '//www.blogblog.com/dynamicviews/437c8f2d6b1382a8', 'plusOneApiSrc': 'https://apis.google.com/js/plusone.js', 'sf': 'n'}}, {'name': 'skin', 'data': {'vars': {}, 'override': ''}}, {'name': 'view', 'data': {'classic': {'name': 'classic', 'url': '/?view\75classic'}, 'flipcard': {'name': 'flipcard', 'url': '/?view\75flipcard'}, 'magazine': {'name': 'magazine', 'url': '/?view\75magazine'}, 'mosaic': {'name': 'mosaic', 'url': '/?view\75mosaic'}, 'sidebar': {'name': 'sidebar', 'url': '/?view\75sidebar'}, 'snapshot': {'name': 'snapshot', 'url': '/?view\75snapshot'}, 'timeslide': {'name': 'timeslide', 'url': '/?view\75timeslide'}}}]);
_WidgetManager._RegisterWidget('_BlogListView', new _WidgetInfo('BlogList1', 'sidebar1', null, document.getElementById('BlogList1'), {'numItemsToShow': 0, 'totalItems': 12}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts1', 'sidebar1', null, document.getElementById('PopularPosts1'), {}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_PageListView', new _WidgetInfo('PageList14', 'sidebar1', null, document.getElementById('PageList14'), {'title': 'Pages', 'links': [], 'mobile': false}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML4', 'sidebar1', null, document.getElementById('HTML4'), {}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML3', 'sidebar1', null, document.getElementById('HTML3'), {}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_HeaderView', new _WidgetInfo('Header1', 'sidebar1', null, document.getElementById('Header1'), {}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_NavbarView', new _WidgetInfo('Navbar1', 'navbar', null, document.getElementById('Navbar1'), {}, 'displayModeFull'));
_WidgetManager._RegisterWidget('_BlogView', new _WidgetInfo('Blog1', 'main', null, document.getElementById('Blog1'), {'cmtInteractionsEnabled': false, 'lightboxEnabled': true, 'lightboxModuleUrl': '//www.blogger.com/static/v1/jsbin/4269860655-lbx__ro.js', 'lightboxCssUrl': '//www.blogger.com/static/v1/v-css/228702327-lightbox_bundle.css'}, 'displayModeFull'));
</script>
</body>
</html>