{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block title %}Pagina mea{% endblock %}
{% block body %}

   <p>WEB : Stan Cristian</p>

        <ul id="navigation">
                <li>Maria</li>
                <li>Ioana</li>
                <li>Dana</li>
                <li>Adriana</li>
                <li>Lidia</li>
        </ul>
        
<img src="{{ asset('asset/image/f-35.jpg') }}" alt="Primul flutur!" class="image" />

<h2>F-35 Lightning II</h2>
<p>F-35 Lightning II (evoluat din modelul X-35 Joint Strike Fighter ) este un avion militar de asalt monoloc, cu un singur motor, multirol care poate executa misiuni de tip CAS, bombardare strategică și lupte aeriene, dezvoltat în urma Programului Joint Strike Fighter. Este proiectat de SUA, Marea Britanie și alți parteneri guvernamentali.</h2>
<h2>Variante construite:</h2>
<p> F-35A, cu decolare și aterizare normală (CTOL) variantă care va înlocui avioanele F-16 Fighting Falcon și A-10 Thunderbolt, ale USAF începând din 2011.</p>
<p> F-35B, cu decolare scurtă și aterizare verticală (STOVL) variantă care va înlocui avioanele AV-8 Harrier II ale U.S. Marine Corps (USMC), Harrier GR7/9 ale Royal Air Force (RAF) și Sea Harriers ale Royal Navy (RN), începând din 2012.</p>
<p> F-35C, versiune pentru portavioane care va înlocui avioanele F/A-18 Hornet (doar variantele A/B/C/D ) ale U.S. Navy (USN), începând din 2012.</p>
<div class="img"></div>
<ul>
<h2>Caracteristici generale:</h2>

<li>Echipaj: 1 <span class="anchor" id="line-15"></span>
</li>
<li>Lungime: 50 ft 6 in (15.37 m) <span class="anchor" id="line-15"></span>
</li>
<li>Anvergura aripii: 35 ft 0 in (10.65 m) <span class="anchor" id="line-14"></span>
</li>
<li>Înălțime: 17 ft 4 in (5.28 m) <span class="anchor" id="line-14"></span>
</li>
<li>Suprafață portantă: 459.6 ft² (42.7 m²) <span class="anchor" id="line-14"></span>
</li>
<li>Masa (gol): 26,000 lb (12 t) <span class="anchor" id="line-14"></span>
</li>
<li>Masa (echipat): 42,000 lb (19 t) <span class="anchor" id="line-14"></span>
</li>
<li>Masa maximă la decolare: 50,000 lb (23 t) <span class="anchor" id="line-16"></span>
</li>
<li>Motor: 1× Pratt & Whitney F135 afterburning turbofan, (177 kN) <span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span>
</li>
</ul>

{% endblock %}