body, html {
width:80%;
margin: 0 auto 0 auto;
}

body {
background:#0E4052;
}
.img {
width:200px;
height:200px;
float:right;
margin:5px;

}
.image {
width:200px;
height:150px;
float:right;
margin:5px;

}
